.wp-block-saber-commerce-checkout-billing-form {

}

.wp-block-saber-commerce-checkout-billing-form .scm-checkout-form-field-group {

	margin: 1.5em 0;

}

.wp-block-saber-commerce-checkout-billing-form .scm-checkout-form-field-group label {

	display: block;
	font-size: 0.9em;

}

.wp-block-saber-commerce-checkout-billing-form .scm-checkout-form-field-group input {

	min-height: 30px;
	min-width: 200px;

}
