.wp-block-saber-commerce-cart-totals {

	display: grid;
	grid-template-columns: 1fr;
	justify-content: end;
	padding: 1.0em;
	background-color: #EEEEEE;

}

.wp-block-saber-commerce-cart-totals {

	text-align: right;

}

.wp-block-saber-commerce-cart-totals table {
	width: 50%;
	margin-left: auto;
}

.wp-block-saber-commerce-cart-totals h3 {

	color: #454545;

}
